<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <title>용량</title>
    <link rel="stylesheet" href="putchase_storage.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- 타이틀 -->
    <h3 class="putchase_info_tit">용량</h3>

    <div class="putchase_storage_container">
      <!-- 1TB -->
      <label class="putchase_storage_item">
        <input type="radio" name="storageOption" value="1TB" checked />
        <div class="putchase_storage_box">1TB</div>
      </label>

      <!-- 512GB -->
      <label class="putchase_storage_item">
        <input type="radio" name="storageOption" value="512GB" />
        <div class="putchase_storage_box">512GB</div>
      </label>

      <!-- 256GB -->
      <label class="putchase_storage_item">
        <input type="radio" name="storageOption" value="256GB" />
        <div class="putchase_storage_box">256GB</div>
      </label>
    </div>
  </body>
</html>
