<!-- pay_address_find.html -->
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주소찾기</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <ul class="pay_input_type_ul">
      <li class="pay_input_obj">
        <label for="pay_post_input" class="pay_s_head">주소</label>
        <div class="pay_address_find_wrap">
          <input
            type="text"
            id="pay_post_input"
            name="pay_post_input"
            class="pay_inp_line"
            placeholder="우편번호를 입력해주세요." />
          <button type="button" class="pay_btn_find">주소 찾기</button>
        </div>
      </li>
    </ul>
  </body>
</html>
