<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>배송지 정보 (주소/메시지)</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="pay_address_form">
      <div class="pay_form_row">
        <div class="pay_form_col">
          <label for="pay_base_address" class="pay_s_head">기본주소</label>
          <input
            type="text"
            id="pay_base_address"
            name="pay_base_address"
            class="pay_inp_line"
            placeholder="기본주소 자동입력" />
        </div>

        <div class="pay_form_col">
          <label for="pay_detail_address" class="pay_s_head">상세주소</label>
          <input
            type="text"
            id="pay_detail_address"
            name="pay_detail_address"
            class="pay_inp_line"
            placeholder="상세주소를 입력하세요." />
        </div>
      </div>

      <div class="pay_form_row">
        <div class="pay_form_col">
          <label for="pay_delivery_msg" class="pay_s_head_light"></label>
          <select
            id="pay_delivery_msg"
            name="pay_delivery_msg"
            class="pay_inp_line">
            <option value="">배송메시지를 선택해주세요.</option>
            <option value="배송전, 연락주세요.">배송전, 연락주세요.</option>
            <option value="부재시, 연락주세요.">부재시, 연락주세요.</option>
            <option value="부재시, 경비실에 맡겨주세요.">
              부재시, 경비실에 맡겨주세요.
            </option>
            <option value="메시지 직접 입력">메시지 직접 입력</option>
          </select>
        </div>

        <div class="pay_form_col"></div>
      </div>
    </div>
  </body>
</html>
