<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <article class="pay_product_top">
      <div class="pay_bundle">
        <div class="pay_product_box">
          <img
            class="pay_product_img"
            src="/public/assets/img/pay/3bb68c66-3b75-4173-b729-bd284669a91f.avif" />
        </div>
        <div class="pay_product_txt">
          <a class="pay_o_link" ihref=""> 갤럭시 S25 울트라 자급제</a>
          <p class="pay_o_label">SM-S938NZKAKOO</p>
          <p class="pay_o_color">티타늄 블랙/256GB</p>
        </div>
      </div>
      <div class="pay_order_count_price">
        <div class="pay_order_count">
          <span class="pay_count">1개</span>
        </div>
        <div class="pay_order_price">
          <span class="pay_price">
            1,636,400
            <em>원</em>
          </span>
        </div>
      </div>
    </article>
  </body>
</html>
