<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1>결제 수단 컴포넌트</h1>
    <h2>결제수단 버튼</h2>
    <div class="storage_options">
      <input
        type="radio"
        id="samsung_card"
        name="payment_card"
        value="samsung"
        class="hidden_radio" />
      <label for="samsung_card" class="pay_label">
        <span class="hh">혜택</span>
        <img
          class="payment_img"
          src="../../../public/assets/img/pay/credit-logo-samsung.svg" />
        <em class="payment_em">삼성카드</em>
      </label>
    </div>
    <h2>이미지</h2>
    <div class="payment_img_list">
      <img src="../../../public/assets/img/pay/credit-logo-samsung.svg" />
      <img src="../../../public/assets/img/pay/credit-logo-kb.svg" />
      <img src="../../../public/assets/img/pay/credit-logo-hana.svg" />
      <img src="../../../public/assets/img/pay/credit-logo-hyundai.svg" />
      <img src="../../../public/assets/img/pay/credit-logo-nh.svg" />
      <img src="../../../public/assets/img/pay/credit-logo-woori.svg" />
      <img src="../../../public/assets/img/pay/credit-logo-lotte.svg" />
      <img src="../../../public/assets/img/pay/credit-logo-etc.svg" />
    </div>
  </body>
</html>
