<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>navigation</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1>nav</h1>
    <nav class="main_navigation">
      <ul class="main_menu_list">
        <li>
          <a class="main_nav" href="#">기획전</a>
        </li>
        <li>
          <a class="main_nav" href="#">모바일</a>
        </li>
        <li>
          <a class="main_nav" href="#">TV/영상&#8226;음향</a>
        </li>
        <li>
          <a class="main_nav" href="#">주방가전</a>
        </li>
        <li>
          <a class="main_nav" href="#">리빙가전</a>
        </li>
        <li>
          <a class="main_nav" href="#">PC/주변기기</a>
        </li>
        <li>
          <a class="main_nav" href="#">AI구독클럽</a>
        </li>
        <li>
          <a class="main_nav" href="#">소모품/악세서리</a>
        </li>
        <li>
          <a class="main_nav" href="#">스마트싱스</a>
        </li>
        <li>
          <a class="main_nav" href="#">AI</a>
        </li>
      </ul>
      <hr />
      <ul class="main_menu_etc">
        <li>
          <a class="main_nav" href="#">마이페이지</a>
        </li>
        <li>
          <a class="main_nav" href="#">로그아웃</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
