@import "../../common/modern-reset.css";

@media only screen and (max-width: 991px) {
  .main_nav_wrapper {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    z-index: 1;
    background: blue;
    height: 100%;
  }
}
