@import "../../common/modern-reset.css";

.main_navigation {
  /* visibility: visible; */
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 360px;
  height: 100%;
  z-index: 2;

  .main_nav {
    color: #000;
  }
}
