<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>smartphone_text</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1>스마트폰 텍스트</h1>
    <article class="smartphone_article">
      <span class="smartphone_card_flag">매장픽업 가능</span>
      <a href="/" class="smartphone_name">스마트폰 이름</a>
      <span class="smartphone_code">제품 코드</span>
      <span class="smartphone_coupon">쿠폰 적용 예상가</span>
      <span class="smartphone_price">가격</span>
      <div class="smartphone_point_area">
        <span class="smartphone_expect">적립 예정 포인트</span>
        <span class="smartphone_point">적립 포인트</span>
      </div>
      <div class="smartphone_compare">
        <div class="smartphone_compare_area">
          <svg
            width="15"
            height="15"
            viewBox="0 0 15 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1_28299)">
              <g clip-path="url(#clip1_1_28299)">
                <path
                  d="M7.20999 13.6314C10.8612 13.6314 13.8211 10.6715 13.8211 7.02029C13.8211 3.36908 10.8612 0.40918 7.20999 0.40918C3.55877 0.40918 0.598877 3.36908 0.598877 7.02029C0.598877 10.6715 3.55877 13.6314 7.20999 13.6314Z"
                  stroke="black"
                  stroke-width="0.777778" />
                <path
                  d="M7.98768 3.13184H6.43213V10.9096H7.98768V3.13184Z"
                  fill="black" />
                <path
                  d="M11.0989 7.79872V6.24316L3.3211 6.24316V7.79872H11.0989Z"
                  fill="black" />
              </g>
            </g>
            <defs>
              <clipPath id="clip0_1_28299">
                <rect
                  width="14"
                  height="14"
                  fill="white"
                  transform="translate(0.209961 0.0205078)" />
              </clipPath>
              <clipPath id="clip1_1_28299">
                <rect
                  width="14"
                  height="14"
                  fill="white"
                  transform="translate(0.209961 0.0205078)" />
              </clipPath>
            </defs>
          </svg>
          <span class="smartphone_link_compare"> 비교하기</span>
        </div>
        <div class="smartphone_star_area">
          <svg
            width="14"
            height="14"
            viewBox="0 0 16 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1_28207)">
              <g clip-path="url(#clip1_1_28207)">
                <path
                  d="M8.01001 0.764648L10.482 5.47964L16.01 6.23564L12.01 9.90465L12.954 15.0856L8.01001 12.6386L3.06601 15.0856L4.01001 9.90865L0.0100098 6.23964L5.53702 5.48364L8.01001 0.764648Z"
                  fill="#FECE30" />
              </g>
            </g>
            <defs>
              <clipPath id="clip0_1_28207">
                <rect
                  width="14"
                  height="14"
                  fill="white"
                  transform="translate(0.0100098 0.0205078)" />
              </clipPath>
              <clipPath id="clip1_1_28207">
                <rect
                  width="14"
                  height="14"
                  fill="white"
                  transform="translate(0.0100098 0.0205078)" />
              </clipPath>
            </defs>
          </svg>
          <span class="smartphone_star"> 별점</span>
        </div>
      </div>
    </article>
  </body>
</html>
