<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>smartphone_nav_component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="smartphone_nav_container">
      <nav class="smartphone_nav">
        <h3>모바일</h3>
        <img
          class="smartphone_banner"
          src="../../../public/assets/img/smartphone/img-galaxy smartphone_banner_x1.png" />
      </nav>
    </div>
    <nav class="smartphone_nav">
      <h3>모바일</h3>
    </nav>
  </body>
</html>
