<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1>정렬 컴포넌트</h1>
    <div class="smartphone_order_container">
      <nav class="smartphone_order_nav">
        <div class="smartphone_detail_search">
          <img src="../../../public/assets/icon/group.svg" alt="그룹정렬" />
          <p>상세검색</p>
        </div>
        <p>검색 결과<data class="smartphone_value" value="24">24</data>개</p>
      </nav>
    </div>
  </body>
</html>
