<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1>스마트폰 버튼 컴포넌트</h1>
    <div class="smartphone_button_container">
      <a class="smartphone_button buy">구매하기</a>
      <a class="smartphone_button more">더 알아보기</a>

      <div class="storage_options">
        <input
          type="radio"
          id="storage_256"
          name="storage"
          value="256GB"
          class="hidden_radio" />
        <label for="storage_256" class="storage_label">256GB</label>

        <input
          type="radio"
          id="storage_512"
          name="storage"
          value="512GB"
          class="hidden_radio" />
        <label for="storage_512" class="storage_label">512GB</label>
      </div>
    </div>
  </body>
</html>
