@import "../../common/modern-reset.css";

.main_footer_area_container {
  background: #ffffff;
  border: #d9d9d9 solid;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-flow: column;
  height: 100%;
  line-height: 1rem;
  margin: 3.125rem; /* 임시 값*/
}

.main_footer_area1_1,
.main_footer_area1_2,
.main_footer_area1_3_text,
.main_footer_area1_4,
.main_footer_area1_5,
.main_footer_area1_6 {
  font-weight: bold;
  color: #707070;
  position: relative;
}

.main_footer_area_vertical {
  font-weight: bold;
  color: #d9d9d9;
  width: 0.0625rem;
  height: 0.75rem;
}

/* 삼성전자 대표이사 */
.main_footer_area1_1 {
  font-size: 0.6913rem;
}

/* 사업자 등록번호 */
.main_footer_area1_2 {
  font-size: 0.6681rem;
}

/* 사업자 정보확인 */
.main_footer_area1_3_text {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: 5.875rem;
  height: 1.25rem;
  line-height: 1.25rem;
  font-size: 0.6913rem;
  color: #ffffff;
  text-align: center;
  background: #777777;
  border-radius: 0.625rem;
  border: 0.0625rem solid #777777;
  padding: 0.0625rem 0.6894rem;
}

/* 통신판매업 */
.main_footer_area1_4 {
  margin-left: 0.5rem;
  padding-left: 0.625rem;
  font-size: 0.6681rem;
}

/* 사업자주소 */
.main_footer_area1_5 {
  font-size: 0.68rem;
}

.main_footer_area1_6 {
  font-size: 0.68rem;
}
