<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main_footer_area1</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="main_footer_area_container">
      <span class="main_footer_area_vertical">|</span>
      <span class="main_footer_area1_1"
        >삼성전자 주식회사 대표이사 : 한종희</span
      >
      <span class="main_footer_area1_2">사업자등록번호:124-81-00998</span>
      <span class="main_footer_area1_3">
        <a href="" class="main_footer_area1_3_text">사업자 정보확인</a>
      </span>
      <span class="main_footer_area1_4"
        >통신판매업 신고:2000-경기수원-0515</span
      >
      <span class="main_footer_area1_5"
        >사업장주소 : 경기도 수원시 영통구 삼성로 129(매탄동)</span
      >
      <span class="main_footer_area1_6"
        >호스팅서비스사업자 : 한국아이비엠(주)</span
      >
    </div>
  </body>
</html>
