<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main_footer_area3</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="main_footer_area3_container3">
      <div class="main_footer_area3_group">
        <div class="main_footer_area3_btn">
          <ul class="main_footer_area3_korean">
            <li>
              <a
                class="main_footer_area3_korean_text"
                href="https://www.samsung.com/sec/function/ipredirection/ipredirectionLocalList/"
                >한국/한국어</a
              >
            </li>
          </ul>
          <ul class="main_footer_area3_ul">
            <li class="main_footer_area3_li_email">
              <a
                class="main_footer_area3_a_email"
                href="https://www.samsung.com/sec/"
                >이메일 무단 수집거부</a
              >
            </li>
            <li class="main_footer_area3_li_id">
              <a class="main_footer_area3_a_id" href="">아이디어 정책</a>
            </li>
            <li class="main_footer_area3_li_site">
              <a
                class="main_footer_area3_a_site"
                href="https://www.samsung.com/sec/info/sitemap/"
                >사이트맵</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="main_footer_area3_linkbox">
        <div class="main_footer_area3_sns_btn">
          <div class="main_footer_area3_wrap_sns">
            <span class="main_footer_area3_tit"
              >삼성전자의 다양한 소식을 만나보세요!</span
            >
            <ul class="main_footer_area3_sns">
              <li class="main_footer_area3_sns_li">
                <a
                  class="main_footer_area3_sns_facebook"
                  href="https://www.facebook.com/SamsungKorea"></a>
              </li>
              <li class="main_footer_area3_sns_li">
                <a
                  class="main_footer_area3_sns_youtube"
                  href="https://www.youtube.com/c/samsungkorea"></a>
              </li>
              <li class="main_footer_area3_sns_li">
                <a
                  class="main_footer_area3_sns_instagram"
                  href="https://www.instagram.com/samsungkorea/#"></a>
              </li>
              <li class="main_footer_area3_sns_li">
                <a
                  class="main_footer_area3_sns_kakao"
                  href="https://pf.kakao.com/_VJjxdC"></a>
              </li>
              <li class="main_footer_area3_sns_li">
                <a
                  class="main_footer_area3_sns_twiiter"
                  href="https://x.com/SamsungKorea"></a>
              </li>
              <li class="main_footer_area3_sns_li">
                <a
                  class="main_footer_area3_sns_share"
                  href="https://x.com/SamsungKorea"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
