<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main_footer_area2</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="main_footer_area2_container2">
      <div class="main_footer_area2_copyrightbox">
        <p class="main_footer_area2_copyright">
          Copyright © 1995-2025 Samsung. All Rights Reserved.
        </p>
        <div class="main_footer_area2_markbox">
          <a
            href="https://dcxi.ksa.or.kr/"
            class="main_footer_area2_mark main_footer_area2_mark_dcxi"></a>
          <a
            href="https://www.kca.go.kr/ccm/certSystemOutlineView.do"
            class="main_footer_area2_mark main_footer_area2_mark_ccm"></a>
          <a
            href="https://www.samsung.com/sec/static/_images/common/WA-2022.jpg"
            class="main_footer_area2_mark main_footer_area2_mark_wa"></a>
          <a
            href="https://www.eprivacy.or.kr/front/certifiedSiteMark/certifiedSiteMarkPopup.do?certCmd=E&certNum=2025-E-R005"
            class="main_footer_area2_mark main_footer_area2_mark_ks"></a>
        </div>
      </div>
    </div>
  </body>
</html>
