<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>main_footer_different</title>
    <script type="module" src="/src/main.js"></script>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <!-- main_footer -->
    <div class="main_footer">
      <div class="main_footer_textBox">
        <div class="main_footer_title">
          <div class="main_footer_text_info_box">
            삼성전자 주식회사 대표이사 : 한종희
          </div>
          <p class="main_footer_text_info_box bar">
            사업자등록번호 : 124-81-00998
            <a class="main_footer_text_button">사업자 정보확인</a>
          </p>
          <p class="main_footer_text_info_box bar">
            통신판매업 신고 : 2000-경기수원-0515
          </p>
        </div>

        <div class="main_footer_title">
          <p class="main_footer_text_info_box">
            사업장주소 : 경기도 수원시 영통구 삼성로 129(매탄동)
          </p>
          <p class="main_footer_text_info_box bar">
            호스팅서비스사업자 : 한국아이비엠(주)
          </p>
          <p class="main_footer_text_info_box bar">대표번호 : 02-2255-0114</p>
          <p class="main_footer_text_info_box bar">
            제품/서비스/멤버십: 1588-3366(통화요금 : 발신자부담)
          </p>
          <p class="main_footer_text_info_box bar">
            삼성닷컴 구매문의 : 1588-6084
          </p>
          <p class="main_footer_text_info_box bar">
            #Samsung Experience 문의 : 1811-9228
          </p>
        </div>

        <div class="main_footer_description">
          <p class="main_footer_text_info_box">
            본 사이트에서 판매되는 상품 중에는 등록된 개별 판매자가 판매하는
            상품이 포함되어 있습니다.
          </p>
          <div class="main_footer_description1">
            <p class="main_footer_inner_description1">
              개별 판매자 판매 상품의 경우 삼성전자(주)는 통신판매중개업자로서
              통신판매의 당사자가 아니므로, 개별 판매자가 등록한 상품, 거래정보
              및 거래 등에 대해 책임을 지지 않습니다.
              <a
                class="main_footer_text_button inner_button"
                style="margin-left: 10px"
                >소비자분쟁해결기준</a
              >
            </p>
          </div>
        </div>

        <p>
          본 사이트의 컨텐츠는 저작권법의 보호를 받는 바 무단 전재,복사,배포
          등을 금합니다.
        </p>
      </div>

      <div class="main_footer_copyright_hr"></div>
      <div class="main_footer_copyright_box">
        <div class="main_footer_copyright">
          Copyright © 1995-2025 Samsung. All Rights Reserved.
        </div>
        <div class="main_footer_copyright_logo_box">
          <img
            class="main_footer_copyright_logo"
            src="../../../public/assets/img/footer/icon-footer-dcxi.webp"
            alt="logo" />
          <img
            class="main_footer_copyright_logo"
            src="../../../public/assets/img/footer/icon-footer-ccm.webp"
            alt="logo" />
          <img
            class="main_footer_copyright_logo"
            src="../../../public/assets/img/footer/icon-footer-wa-mo.jpg"
            alt="logo" />
          <img
            class="main_footer_copyright_logo"
            src="../../../public/assets/img/footer/icon-footer-eprivacy.svg"
            alt="logo" />
        </div>
      </div>
      <div class="main_footer_sns_hr"></div>
      <div class="main_footer_sns_box">
        <div class="main_footer_sns_kr_box">
          <div class="main_footer_sns_kr">한국/한국어</div>
        </div>
        <div class="main_footer_sns_policy_box">
          <div class="main_footer_sns_text">이메일 무단 수집거부</div>
          <div class="main_footer_sns_text">아이디어 정책</div>
          <div class="main_footer_sns_text">사이트맵</div>
        </div>
        <div class="main_footer_sns_title_box">
          <div class="main_footer_sns_title">
            <div class="main_footer_sns_title_text">
              삼성전자의 다양한 소식을 만나보세요!
            </div>
          </div>
          <div class="main_footer_sns_logo_box">
            <img
              class="main_footer_sns_logo"
              src="../../../public/assets/icon/footer/facebook.svg"
              alt="" />
            <img
              class="main_footer_sns_logo"
              src="../../../public/assets/icon/footer/youtube.svg"
              alt="" />
            <img
              class="main_footer_sns_logo"
              src="../../../public/assets/icon/footer/instagram.svg"
              alt="" />
            <img
              class="main_footer_sns_logo"
              src="../../../public/assets/icon/footer/kakao.svg"
              alt="" />
            <img
              class="main_footer_sns_logo"
              src="../../../public/assets/icon/footer/twitter.svg"
              alt="" />
            <img
              class="main_footer_sns_logo"
              src="../../../public/assets/icon/footer/share.svg"
              alt="" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
