@import "../../common/modern-reset.css";

.main_footer_area3_container3 {
  border-top: 0.0625rem solid #d9d9d9;
  background-color: #ffffff;
  padding: 1.875rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.main_footer_area3_group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.main_footer_area3_btn {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.main_footer_area3_korean {
  display: flex;
  align-items: center;
}

.main_footer_area3_korean_text {
  padding: 0 0.3125rem;
  line-height: 2.5rem;
  font-size: 0.82rem;
  font-weight: bold;
  color: #000000;
  vertical-align: top;
}

.main_footer_area3_ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.main_footer_area3_li_email {
  list-style: none;
}

.main_footer_area3_a_email {
  padding: 0 0.3125rem;
  font-weight: bold;
  line-height: 2.5rem;
  font-size: 0.8rem;
  color: #000000;
  vertical-align: top;
}

.main_footer_area3_li_id {
  margin-left: 0.55rem;
  position: relative;
  float: left;
}

.main_footer_area3_a_id {
  padding: 0 0.3125rem;
  line-height: 2.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #000000;
  vertical-align: top;
}

.main_footer_area3_li_site {
  margin-left: 1.0625rem;
  position: relative;
  padding-left: 1.0625rem;
  float: left;
}

.main_footer_area3_a_site {
  padding: 0 0.3125rem;
  line-height: 2.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  vertical-align: top;
  color: #000000;
}

.main_footer_area3_linkbox {
  margin-top: 0.9375rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.main_footer_area3_wrap_sns {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.1rem;
}

.main_footer_area3_tit {
  float: left;
  line-height: 2.5rem;
  font-size: 0.6913rem;
  color: #000000;
  font-weight: bold;
  height: 2.5rem;
}

.main_footer_area3_sns {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.main_footer_area3_sns_li {
  list-style: none;
  margin-left: 1rem;
}

.main_footer_area3_sns_facebook {
  background-image: url(../../../public/assets/icon/footer/facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
}

.main_footer_area3_sns_youtube {
  background-image: url(../../../public/assets/icon/footer/youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
}

.main_footer_area3_sns_instagram {
  background-image: url(../../../public/assets/icon/footer/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 2.375rem;
  height: 2.375rem;
}

.main_footer_area3_sns_kakao {
  background-image: url(../../../public/assets/icon/footer/kakao.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 2.2125rem;
  height: 2.0356rem;
}

.main_footer_area3_sns_twiiter {
  background-image: url(../../../public/assets/icon/footer/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 1.6875rem;
  height: 1.7244rem;
}

.main_footer_area3_sns_share {
  background-image: url(../../../public/assets/icon/footer/share.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
}
