<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>frame_empty_cart_component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="frame_empty_cart_area">
      <div class="frame_empty_cart_maincart">
        <h2 class="frame_empty_cart_blind"></h2>
        <div class="frame_empty_cart_txt">
          <div class="frame_empty_cart_txt_leftbox">
            <img
              class="frame_empty_cart_txt_leftbox_img"
              src="../../../public/assets/icon/icon_bold_frame.svg"
              alt="장바구니 아이콘" />
            <div class="frame_empty_cart_textbox">
              <span class="frame_empty_cart_text"
                >아직 장바구니에 담은 제품이 없어요.</span
              >
              <span class="frame_empty_cart_text"
                >추천 제품부터 둘러볼까요?</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
