<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>frame_cart_foot_component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="frame_cart_foot">
      <div class="frame_cart_foot_inner">
        <div class="frame_cart_foot_left">
          <p class="frame_cart_foot_p">
            고객센터
            <strong class="frame_cart_foot_text_small">1588-6084</strong>
            <span class="frame_cart_foot_divider">|</span> 평일 09시 ~ 18시 /
            토요일 09시 ~ 13시 (일요일, 공휴일은 운영하지 않습니다.)
          </p>
          <p class="frame_cart_foot_p">
            e식품관 고객센터
            <strong class="frame_cart_foot_text_small">1811-9228</strong>
            <span class="frame_cart_foot_divider">|</span> 평일 09시~ 18시(주말,
            공휴일은 운영하지 않습니다.)
          </p>
        </div>
        <div class="frame_cart_foot_right">
          <a class="frame_cart_cancel" href="">주문취소 안내</a>
        </div>
      </div>
    </div>
  </body>
</html>
