<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>frame_recommend</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <section class="frame_recommend">
      <div class="frame_recommend_warp_component">
        <div class="frame_recommend_content">
          <div class="frame_recommend_components">
            <div class="frame_recommend_text">
              <div class="frame_recommend_textbox">
                <h3 class="frame_recommend_title">나를 위한 추천 제품</h3>
                <h3 class="frame_recommend_title_sub">
                  관심사&트렌드를 분석한 스마트 추천 제품이에요.
                </h3>
              </div>
            </div>
          </div>
          <ul class="frame_recommend_cardbox">
            <button
              type="button"
              class="frame_recommend_slick_prev"
              role="button"></button>
            <div class="frame_recommend_slick_list_draggable">
              <div class="frame_recommend_slick_track">
                <li class="frame_recommend_slick_product">
                  <div class="frame_recommend_box">
                    <div class="frame_recommend_imgbox">
                      <img
                        class="frame_recommend_img"
                        src="../../../public/assets/img/frame/watch.svg"
                        alt="갤럭시 워치7 40mm" />
                    </div>
                    <a class="frame_recommend_text" href="">
                      <div class="frame_recommend_name">
                        갤럭시 워치7 40mm (블루투스)
                      </div>
                      <div class="frame_recommend_num"></div>
                      <div class="frame_recommend_pricebox">
                        <div class="frame_recommend_price_detail">
                          <div class="frame_recommend_price_title">
                            쿠폰 적용 예상가
                          </div>
                          <div class="frame_recommend_price_flex">
                            <div class="frame_recommend_price">
                              234,000
                              <span class="frame_recommend_price_ko">원</span>
                            </div>
                          </div>
                        </div>
                        <div class="frame_recommend_point">
                          <div class="frame_recommend_point_title">
                            적립 예정 포인트
                          </div>
                          <div class="frame_recommend_point_p">234P</div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="frame_recommend_bottom">
                    <div class="frame_recommend_compare">
                      <a class="frame_recommend_compare_link" href=""
                        >비교하기</a
                      >
                    </div>
                    <div class="frame_recommend_compare">
                      <a class="frame_recommend_star" href=""
                        ><strong class="frame_recommend_strong">4.8</strong>
                        (1686)</a
                      >
                    </div>
                  </div>
                </li>
                <li class="frame_recommend_slick_product">
                  <div class="frame_recommend_box">
                    <div class="frame_recommend_imgbox">
                      <img
                        class="frame_recommend_img"
                        src="../../../public/assets/img/frame/buds3_pro.svg"
                        alt="갤럭시 버즈3 프로" />
                    </div>
                    <a class="frame_recommend_text" href="">
                      <div class="frame_recommend_name">갤럭시 버즈3 프로</div>
                      <div class="frame_recommend_num"></div>
                      <div class="frame_recommend_pricebox">
                        <div class="frame_recommend_price_detail">
                          <div class="frame_recommend_price_title">
                            쿠폰 적용 예상가
                          </div>
                          <div class="frame_recommend_price_flex">
                            <div class="frame_recommend_price">
                              239,000
                              <span class="frame_recommend_price_ko">원</span>
                            </div>
                          </div>
                        </div>
                        <div class="frame_recommend_point">
                          <div class="frame_recommend_point_title">
                            적립 예정 포인트
                          </div>
                          <div class="frame_recommend_point_p">239P</div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="frame_recommend_bottom">
                    <div class="frame_recommend_compare">
                      <a class="frame_recommend_compare_link" href=""
                        >비교하기</a
                      >
                    </div>
                    <div class="frame_recommend_compare">
                      <a class="frame_recommend_star" href=""
                        ><strong class="frame_recommend_strong">4.5</strong>
                        (3943)</a
                      >
                    </div>
                  </div>
                </li>
                <li class="frame_recommend_slick_product">
                  <div class="frame_recommend_box">
                    <div class="frame_recommend_imgbox">
                      <img
                        class="frame_recommend_img"
                        src="../../../public/assets/img/frame/s25.svg"
                        alt="갤럭시 S25 자급제" />
                    </div>
                    <a class="frame_recommend_text" href="">
                      <div class="frame_recommend_name">갤럭시 S25 자급제</div>
                      <div class="frame_recommend_num"></div>
                      <div class="frame_recommend_pricebox">
                        <div class="frame_recommend_price_detail">
                          <div class="frame_recommend_price_title">
                            쿠폰 적용 예상가
                          </div>
                          <div class="frame_recommend_price_flex">
                            <div class="frame_recommend_price">
                              1,086,000
                              <span class="frame_recommend_price_ko">원</span>
                            </div>
                          </div>
                        </div>
                        <div class="frame_recommend_point">
                          <div class="frame_recommend_point_title">
                            적립 예정 포인트
                          </div>
                          <div class="frame_recommend_point_p">1,086P</div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="frame_recommend_bottom">
                    <div class="frame_recommend_compare">
                      <a class="frame_recommend_compare_link" href=""
                        >비교하기</a
                      >
                    </div>
                    <div class="frame_recommend_compare">
                      <a class="frame_recommend_star" href=""
                        ><strong class="frame_recommend_strong">4.9</strong>
                        (157)</a
                      >
                    </div>
                  </div>
                </li>
              </div>
            </div>
            <button
            type="button"
            class="frame_recommend_slick_next"
            role="button"></button>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
