<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>frame_payment_component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="frame_payment_display">
    <div class="frame_payment_area_empty">
      <div class="frame_payment_delivery_change">
        <p class="frame_payment_advice_text">
          로그인을 하시면 장바구니에 담긴 이전 상품을 확인하실 수 있습니다.
        </p>
        <button type="button" class="frame_payment_button">로그인</button>
      </div>
      <h2 class="frame_payment_blind">결제 정보</h2>
      <ul class="frame_payment_listup">
        <li class="frame_payment_li">
          <span class="frame_payment_head">전체 상품</span>
          <span class="frame_payment_text"
            ><strong class="frame_payment_strong">0</strong>개</span
          >
        </li>
        <li class="frame_payment_li">
          <span class="frame_payment_head">주문 금액</span>
          <span class="frame_payment_text"
            ><strong class="frame_payment_strong">0</strong>원</span
          >
        </li>
        <li class="frame_payment_li">
          <span class="frame_payment_head">할인 금액</span>
          <span class="frame_payment_text_sb"
            ><strong class="frame_payment_strong">0</strong>원</span
          >
        </li>
      </ul>
      <ul class="frame_payment_cost">
        <li class="frame_payment_cost_li">
          <span class="frame_payment_head_sb"
            ><strong class="frame_payment_cost_strong"
              >결제 예정 금액</strong
            ></span
          >
          <span class="frame_payment_cost_text"
            ><strong class="frame_payment_cost_number">0</strong>원</span
          >
        </li>
      </ul>
      
    </div>
  </body>
</html>
