<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>frame_location_component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="frame_location">
      <div class="frame_location_inner">
        <a class="frame_location_home" href="">HOME</a>
        <a class="frame_location_shopping_cart" href="">장바구니</a>
      </div>
    </div>
  </body>
</html>
