@import "../../common/modern-reset.css";

.frame_cart_foot {
  border-top: 0.5rem solid #f7f7f7;
  position: relative;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 1.25rem 0 1.125rem;
}

.frame_cart_foot_inner {
  padding: 0;
}

.frame_cart_foot_left {
  float: left;
}

.frame_cart_foot_p {
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #707070;
}

.frame_cart_foot_divider {
  margin: 0 0.5rem;
  color: #ddd;
  vertical-align: baseline;
}

.frame_cart_foot_text_small {
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #000000;
  vertical-align: baseline;
  font-weight: bold;
}

.frame_cart_foot_right {
  float: right;
  text-align: right;
}

.frame_cart_cancel {
  font-size: 0.875rem;
  line-height: 1;
  display: inline-block;
  margin: 0 0.25rem;
  font-weight: bold;
  letter-spacing: -0.0044rem;
  color: #000000;
  border-bottom: 0.0625rem solid #000000;
}

.frame_cart_foot_inner::after {
  display: block;
  content: "";
  clear: both;
}
