
.search_page_main {
  padding: 18px 24px 36px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

.search_menu_nav {
  margin-top: 30px;
}

.search_bar_nav {
  @media (min-width: 768px) {
    height: 4rem;
    grid-column: 1/-1;
  }
  .search_input {
    @media (min-width: 768px) {
      height: 40px;
    }
  }
}

.search_products {
  display: flex;
  flex-flow: column;
}

.search_products_list {
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  place-items: center;
  gap: 1rem;

  @media (min-width: 768px) {
    display: flex;
    width: 15vw;
  }
}

.search_view_title {
  padding-block: 20px;
}
