@import "../../common/modern-reset.css";

.search_page_main {
  min-width: 100vw;
  padding: 3.125rem;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100px 400px;


  .search_search{
    width: 24px;
    height: 24px;
  }


  .search_search {
    width: 24px;
    height: 24px;
  }

}

.search_bar_nav {
  grid-column: 1/3;
}

.search_page_product_section {
  .search_view_title {
    margin-left: 0.625rem;
  }

  .search_product_article_list {
    display: grid;
    min-width: 50vw;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    place-items: center;
    gap: 5%;

    }
  }



  }
}

.search_bar_nav_area {
  display: flex;
  align-items: center;
}

