@import "/src/components/smartphone/smartphone_button.css";
@import "/src/components/smartphone/smartphone_select_color.css";
@import "/src/components/smartphone/smartphone_text.css";
@import "../../common/modern-reset.css";

.components-container {
  display: flex;
  justify-content: center;
  padding: 1.875rem;
  background: #dddddd;
}

.card_component_section {
  display: flex;
  background: #fff;
  flex-flow: column nowrap;
  width: 17.5rem;
  height: 45rem;
  align-items: center;
  padding: 1rem 0;
  margin: 0.8rem;
  border-radius: 1.3125rem;

  .storage_label {
    width: 4.6875rem;
  }
}
