.kitchen_page_main {
  background: #f7f7f7;
  text-align: center;
}

.refrigerator_banner {
  width: 100vw;
}

.kitchen_list {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.smart_shopping {
  height: 720px;
  border-radius: 20px;
}
