<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mypage_recent_store_component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="mypage_recent_store">
      <img
        src="../../../public/assets/icon/icon-mmi-store01.png"
        alt="최근 방문 스토어 아이콘"
        class="mypage_card_icon" />
      <p class="mypage_card_title">최근 방문 스토어</p>
      <p class="mypage_card_count">
        <span class="mypage_count_number">0</span
        ><span class="mypage_count_unit"> 개</span>
      </p>
    </div>
  </body>
</html>
