<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>스마트 견적서</title>
    <link rel="stylesheet" href="mypage_smart_estimate.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="mypage_smart_estimate">
      <img
        src="/public/assets/icon/icon-mmi-store03.png"
        alt="스마트 견적서 아이콘"
        class="mypage_card_icon" />
      <p class="mypage_card_title">스마트 견적서</p>
      <p class="mypage_card_count">
        <span class="mypage_count_number">0</span
        ><span class="mypage_count_unit"> 개</span>
      </p>
    </div>
  </body>
</html>
