.mypage_profile_card {
  display: flex;
  align-items: flex-start;
  width: 100%;

  padding: 14px 16px;
  border: 1px solid #2189ff;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

.mypage_profile_image img {
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: #f7f7f7;
}

.mypage_profile_info {
  margin-left: 16px;
  flex: 1;
}

.mypage_profile_name_line {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.mypage_name {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.mypage_profile_text.with-line {
  font-size: 14px;
  color: #000;
  margin: 0 0 12px 0;
  padding-bottom: 12px;
  border-bottom: 1px dashed #d5d5d5;
}

.mypage_profile_subtext {
  font-size: 14px;
  color: #000;
  margin: 12px 0;
}

.mypage_profile_subtext .mypage_no_click {
  color: #2189ff;
  cursor: default;
  text-decoration: none;
}

.mypage_input_link {
  display: inline-block;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  margin-top: 8px;
}
