<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mypage_order_stauts_component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="mypage_order_status">
      <div class="mypage_status_card">
        <img
          src="../../../public/assets/icon/ico-mmi-order.png"
          alt="최근 주문 아이콘"
          class="mypage_card_icon" />
        <p class="mypage_card_title">
          최근 주문 <span class="mypage_count_number">0</span>
        </p>
      </div>

      <div class="mypage_status_card">
        <img
          src="../../../public/assets/icon/ico-mmi-delivery2.png"
          alt="배송중 아이콘"
          class="mypage_card_icon" />
        <p class="mypage_card_title">
          배송중 <span class="mypage_count_number">0</span>
        </p>
      </div>

      <div class="mypage_status_card">
        <img
          src="../../../public/assets/icon/ico-mmi-delivered.png"
          alt="배송완료 아이콘"
          class="mypage_card_icon" />
        <p class="mypage_card_title">
          배송완료 <span class="mypage_count_number">0</span>
        </p>
      </div>

      <div class="mypage_order_dotted_line"></div>
    </div>
  </body>
</html>
