<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>타이틀</title>
  </head>
  <body>
    <div class="box-mymem-white clab-ndata">
      <div class="box-clab-info">클래스를 신청해주세요</div>
      <div class="box-clab-calendar">
        <!-- s : 20230621 a 태그 추가 2 -->
        <a
          href="/sec/samsungstore/culture-lab/"
          data-omni="my account_calender_application"
          tabindex="0"
          data-di-id="di-id-f1a1908f-ca1564e3">
          <div class="box-ico">
            <div class="clab-udt">클래스 신청</div>
            <!-- 20230621 태그 수정 및 클래스 추가 -->
          </div>
        </a>
        <!-- e : 20230621 a 태그 추가 2 -->
      </div>
    </div>
  </body>
</html>
