<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cardimg</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- main_cardimg_component -->
    <div class="main_cardimg_component">
      <section class="main_cardimg">
        <figure class="main_cardimg_s25_wrapper">
          <img
            class="main_cardimg_s25"
            src="../../../../public/assets/img/main/s25_1.png"
            alt="Galaxy S25 런칭 프로모션" />
        </figure>
        <figure class="main_cardimg_ultra_wrapper">
          <img
            class="main_cardimg_ultra"
            src="../../../../public/assets/img/main/ultra_1.png"
            alt="S25 Ultra phone 두 개" />
        </figure>
        <figure class="main_cardimg_zflip_wrapper">
          <img
            class="main_cardimg_zflip"
            src="../../../../public/assets/img/main/zflip_1.png"
            alt="Z Flip6 phone 두 개" />
        </figure>
        <figure class="main_cardimg_s10_wrapper">
          <img
            class="main_cardimg_s10"
            src="../../../../public/assets/img/main/s10_1.png"
            alt="Tab S10 두 개" />
        </figure>
        <figure class="main_cardimg_buds_wrapper">
          <img
            class="main_cardimg_buds"
            src="../../../../public/assets/img/main/buds_1.png"
            alt="Buds3 Pro" />
        </figure>
      </section>

      <section class="main_cardimg_pc">
        <figure class="main_cardimg_s25_pc_wrapper">
          <img
            class="main_cardimg_s25_pc"
            src="../../../../public/assets/img/main/s25_pc.png"
            alt="S25 런칭 프로모션" />
        </figure>
        <figure class="main_carding_ultra_pc_wrapper">
          <img
            class="main_carding_ultra_pc"
            src="../../../../public/assets/img/main/ultra_pc.png"
            alt="s25 ultra 휴대폰" />
        </figure>
        <figure class="main_cardimg_zflip_pc_wrapper">
          <img
            class="main_cardimg_zflip_pc"
            src="../../../../public/assets/img/main/zflip_pc.png"
            alt="zflip6 휴대폰" />
        </figure>
        <figure class="main_cardimg_s10_pc_wrapper">
          <img
            class="main_cardimg_s10_pc"
            src="../../../../public/assets/img/main/s10_pc.png"
            alt="" />
        </figure>
        <figure class="main_cardimg_buds_pc_wrapper">
          <img
            class="main_cardimg_buds_pc"
            src="../../../../public/assets/img/main/buds_pc.png"
            alt="buds3 pro 이미지" />
        </figure>
      </section>
    </div>
  </body>
</html>
