<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main_banner</title>
    <script type="module" src="/src/main.js"></script>
    <script type="module" src="/src/js/banner.js"></script>
  </head>
  <body>
    <!-- main banner -->
    <section class="main_banner_mobile_container">
      <div class="main_banner_mobile">
        <div class="main_banner_mobile_list">
          <div class="main_banner_mobile_wrapper">
            <div class="main_banner_element">
              <div class="main_banner_textcontainer_m">
                <p class="main_banner_start_text">
                  TV의 끝. 진정한 AI TV의 시작
                </p>
                <p class="main_banner_prime_text">
                  2025 삼성 AI TV 사전구매 특별전
                </p>
                <p class="main_banner_sub_text">
                  기준가 대비 최대 450만원 할인쿠폰부터<br />멥버스 포인트
                  19만P, 5년 무상수리서비스까지!
                </p>
              </div>
              <div class="main_banner_box_btn">
                <button class="banner_box_btn1" type="button">
                  구매 혜택 보기
                </button>
              </div>
            </div>
            <img
              class="main_banner_mobile_item"
              src="../../../../public/assets/img/main/banner1.png"
              alt="모니터 4개로 구성된 광고" />
          </div>
          <div class="main_banner_mobile_wrapper">
            <div class="main_banner_element">
              <div class="main_banner_textcontainer_m">
                <p class="main_banner_start_text">
                  앞으로의 세탁건조는 AI 콤보 하나면 끝
                </p>
                <p class="main_banner_prime_text">
                  2025 NEW BESPOKE AI 콤보 사전구매
                </p>
                <p class="main_banner_sub_text">
                  더 큰 거조 용량의 새로운 콤보를<br />청소기 사은품 증정 or 5년
                  무상수리서비스 혜택과 함께!
                </p>
              </div>
              <div class="main_banner_box_btn">
                <button class="banner_box_btn1" type="button">
                  구매 혜택 보기
                </button>
              </div>
            </div>
            <img
              class="main_banner_mobile_item"
              src="../../../../public/assets/img/main/banner2.jpg"
              alt="세탁기 광고" />
          </div>
          <div class="main_banner_mobile_wrapper">
            <div class="main_banner_element">
              <div class="main_banner_textcontainer_m">
                <p class="main_banner_start_text">
                  더 빈틈없고 더 여유로운 진짜 키친핏
                </p>
                <p class="main_banner_prime_text">
                  NEW AI 하이브리드 키친핏 Max
                </p>
                <p class="main_banner_sub_text">
                  신모델 기준가 대비 최대 30만원 할인 + 3년 무상수리서비스
                </p>
              </div>
              <div class="main_banner_box_btn">
                <button class="banner_box_btn1" type="button">
                  구매 혜택 보기
                </button>
              </div>
            </div>
            <img
              class="main_banner_mobile_item"
              src="../../../../public/assets/img/main/banner3.jpg"
              alt="냉장고 광고" />
          </div>
          <div class="main_banner_mobile_wrapper">
            <div class="main_banner_element">
              <div class="main_banner_textcontainer_m">
                <p class="main_banner_start_text">
                  따라올 수 없는 세계 최고 흡입력
                </p>
                <p class="main_banner_prime_text">
                  BESPOKE AI 제트<br />신제품 사전구매 알림 신청
                </p>
                <p class="main_banner_sub_text">
                  알림신청 시 다이소 모바일 상품권 추첨 증정<br />+사전구매 전용
                  5만원 추가 할인 쿠폰까지!
                </p>
              </div>
              <div class="main_banner_box_btn">
                <button class="banner_box_btn1" type="button">
                  알림 신청 하기
                </button>
              </div>
            </div>
            <img
              class="main_banner_mobile_item"
              src="../../../../public/assets/img/main/banner4.jpg"
              alt="청소기 광고" />
          </div>
          <div class="main_banner_mobile_wrapper">
            <div class="main_banner_element">
              <div class="main_banner_textcontainer_m_white">
                <p class="main_banner_start_text">
                  완벽한 몰입, 새로운 차원의 게이밍
                </p>
                <p class="main_banner_prime_text">
                  2025 NEW Odyssey 사전구매 알림 신청
                </p>
                <p class="main_banner_sub_text">
                  알림 신청 시 다이소 모바일 상품권 추첨 증정<br />+사전구매
                  전용 최대 10만원 추가 할인 쿠폰까지!
                </p>
              </div>
              <div class="main_banner_box_btn">
                <button class="banner_box_btn2" type="button">
                  알림신청하기
                </button>
              </div>
            </div>
            <img
              class="main_banner_mobile_item"
              src="../../../../public/assets/img/main/banner5.jpg"
              alt="모니터 광고" />
          </div>
          <div class="main_banner_mobile_wrapper">
            <div class="main_banner_element">
              <div class="main_banner_textcontainer_m">
                <p class="main_banner_prime_text">Galaxy Buds3 Pro</p>
                <p class="main_banner_sub_text">
                  즉시할인 22% + 올리브영 1만원<br />최대 30만원 상담 우수
                  리뷰어 혜택까지
                </p>
              </div>
              <div class="main_banner_box_btn">
                <button class="banner_box_btn1" type="button">
                  구매 혜택 보기
                </button>
              </div>
            </div>
            <img
              class="main_banner_mobile_item"
              src="../../../../public/assets/img/main/banner6.jpg"
              alt="이어폰" />
          </div>
        </div>
      </div>
      <div class="main_banner_mobile_button">
        <button class="banner_button main_banner_mobile_button_left">
          <img
            class="main_banner_button"
            src="../../../../public/assets/icon/header_files/icon-slick-prev-compo-wht.svg.svg"
            alt="<" />
        </button>
        <button class="banner_button main_banner_mobile_button_right">
          <img
            class="main_banner_button"
            src="../../../../public/assets/icon/header_files/icon-slick-next-compo-wht.svg.svg"
            alt=">" />
        </button>
      </div>
    </section>
  </body>
</html>
