<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main_cardscroll_component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- cardscroll -->
    <section class="main_cardscroll">
      <p class="main_cardscroll_1">당신에게 딱 맞는 추천제품</p>
      <p class="main_cardscroll_2">
        관심사&트랜드를 분석한 스마트 추천 제품이에요.
      </p>
      <!-- 카드 컴포넌트 리스트 -->
      <div class="main_cardscroll_list">
        <!-- cardcompo_1 -->
        <div class="main_cardscroll_cardcompo_1">
          <div class="main_cardscroll_cardcompo_ele">
            <div class="main_cardscroll_topic">
              <img
                class="main_cardscroll_img"
                src="../../../../public/assets/img/main/cardcompo1.webp"
                alt="갤럭시 S25 phone" />
              <div class="main_cardscroll_text">
                <p class="main_cardscroll_name">갤럭시 S25 울트라 자급제</p>
                <div class="main_cardscroll_price">
                  <p class="main_cardscroll_price_q">쿠폰 적용 예상가</p>
                  <p class="main_cardscroll_price_a">1,731,400원</p>
                </div>
                <div class="main_cardscroll_point">
                  <p class="main_cardscroll_point_q">적립 예정 포인트</p>
                  <p class="main_cardscroll_point_a">1,731P</p>
                </div>
              </div>
            </div>
            <div class="main_cardscroll_mark">
              <img
                class="main_cardscroll_mark_star"
                src="../../../../public/assets/icon/icon-star.svg fill.svg"
                alt="" />
              <p class="main_cardscroll_review">4.9</p>
            </div>
          </div>
        </div>
        <!-- cardcompo_2 -->
        <div class="main_cardscroll_cardcompo_2">
          <div class="main_cardscroll_cardcompo_ele">
            <div class="main_cardscroll_topic">
              <img
                class="main_cardscroll_img"
                src="../../../../public/assets/img/main/cardcompo2.webp"
                alt="갤럭시 S25 phone" />
              <div class="main_cardscroll_text">
                <p class="main_cardscroll_name">갤럭시 S25+ 자급제</p>
                <div class="main_cardscroll_price">
                  <p class="main_cardscroll_price_q">쿠폰 적용 예상가</p>
                  <p class="main_cardscroll_price_a">1,272,000원</p>
                </div>
                <div class="main_cardscroll_point">
                  <p class="main_cardscroll_point_q">적립 예정 포인트</p>
                  <p class="main_cardscroll_point_a">1,272P</p>
                </div>
              </div>
            </div>
            <div class="main_cardscroll_mark">
              <img
                class="main_cardscroll_mark_star"
                src="../../../../public/assets/icon/icon-star.svg fill.svg"
                alt="" />
              <p class="main_cardscroll_review">4.9</p>
            </div>
          </div>
        </div>
        <!-- cardcompo_3 -->
        <div class="main_cardscroll_cardcompo_3">
          <div class="main_cardscroll_cardcompo_ele">
            <div class="main_cardscroll_topic">
              <img
                class="main_cardscroll_img"
                src="../../../../public/assets/img/main/cardcompo3.avif"
                alt="갤럭시 S25 phone" />
              <div class="main_cardscroll_text">
                <p class="main_cardscroll_name">
                  2025 The Frame (108cm) 챔퍼 샌드골드 백젤
                </p>
                <div class="main_cardscroll_price">
                  <p class="main_cardscroll_price_q">쿠폰 적용 예상가</p>
                  <p class="main_cardscroll_price_a">1,731,400원</p>
                </div>
                <div class="main_cardscroll_point">
                  <p class="main_cardscroll_point_q">적립 예정 포인트</p>
                  <p class="main_cardscroll_point_a">191,780P</p>
                </div>
              </div>
            </div>
            <div class="main_cardscroll_mark">
              <img
                class="main_cardscroll_mark_star"
                src="../../../../public/assets/icon/icon-star.svg fill.svg"
                alt="" />
              <p class="main_cardscroll_review">4.9</p>
            </div>
          </div>
        </div>
        <!-- cardcompo_4 -->
        <div class="main_cardscroll_cardcompo_4">
          <div class="main_cardscroll_cardcompo_ele">
            <div class="main_cardscroll_topic">
              <img
                class="main_cardscroll_img"
                src="../../../../public/assets/img/main/cardcompo4.avif"
                alt="갤럭시 S25 phone" />
              <div class="main_cardscroll_text">
                <p class="main_cardscroll_name">2024 QLED 4K QDE1 (214cm)</p>
                <div class="main_cardscroll_price">
                  <p class="main_cardscroll_price_q">아울렛 특가</p>
                  <p class="main_cardscroll_price_a">2,240,000원</p>
                </div>
                <div class="main_cardscroll_point">
                  <p class="main_cardscroll_point_q">적립 예정 포인트</p>
                  <p class="main_cardscroll_point_a">2,240P</p>
                </div>
              </div>
            </div>
            <div class="main_cardscroll_mark">
              <img
                class="main_cardscroll_mark_star"
                src="../../../../public/assets/icon/icon-star.svg fill.svg"
                alt="" />
              <p class="main_cardscroll_review">4.8</p>
            </div>
          </div>
        </div>
        <!-- cardcompo_5 -->
        <div class="main_cardscroll_cardcompo_5">
          <div class="main_cardscroll_cardcompo_ele">
            <div class="main_cardscroll_topic">
              <img
                class="main_cardscroll_img"
                src="../../../../public/assets/img/main/cardcompo5.avif"
                alt="갤럭시 S25 phone" />
              <div class="main_cardscroll_text">
                <p class="main_cardscroll_name">2024 QLED 4K QD70 (189cm)</p>
                <div class="main_cardscroll_price">
                  <p class="main_cardscroll_price_q">혜택가</p>
                  <p class="main_cardscroll_price_a">2,190,000원</p>
                </div>
                <div class="main_cardscroll_point">
                  <p class="main_cardscroll_point_q">적립 예정 포인트</p>
                  <p class="main_cardscroll_point_a">2,190P</p>
                </div>
              </div>
            </div>
            <div class="main_cardscroll_mark">
              <img
                class="main_cardscroll_mark_star"
                src="../../../../public/assets/icon/icon-star.svg fill.svg"
                alt="" />
              <p class="main_cardscroll_review">4.8</p>
            </div>
          </div>
        </div>
        <!-- cardcompo_6 -->
        <div class="main_cardscroll_cardcompo_6">
          <div class="main_cardscroll_cardcompo_ele">
            <div class="main_cardscroll_topic">
              <img
                class="main_cardscroll_img"
                src="../../../../public/assets/img/main/cardcompo6.avif"
                alt="갤럭시 S25 phone" />
              <div class="main_cardscroll_text">
                <p class="main_cardscroll_name">
                  BESPOKE AI 하이브리드 4도어 키친핏 Max 602L (AI 홈)
                </p>
                <div class="main_cardscroll_price">
                  <p class="main_cardscroll_price_q">쿠폰 적용 예상가</p>
                  <p class="main_cardscroll_price_a">3,890,000원</p>
                </div>
                <div class="main_cardscroll_point">
                  <p class="main_cardscroll_point_q">적립 예정 포인트</p>
                  <p class="main_cardscroll_point_a">3,890P</p>
                </div>
              </div>
            </div>
            <div class="main_cardscroll_mark">
              <img
                class="main_cardscroll_mark_star"
                src="../../../../public/assets/icon/icon-star.svg fill.svg"
                alt="" />
              <p class="main_cardscroll_review">0.0</p>
            </div>
          </div>
        </div>
        <!-- cardcompo_7 -->
        <div class="main_cardscroll_cardcompo_7">
          <div class="main_cardscroll_cardcompo_ele">
            <div class="main_cardscroll_topic">
              <img
                class="main_cardscroll_img"
                src="../../../../public/assets/img/main/cardcompo7.avif"
                alt="갤럭시 S25 phone" />
              <div class="main_cardscroll_text">
                <p class="main_cardscroll_name">갤럭시 워치7 40mm (블루투스)</p>
                <div class="main_cardscroll_price">
                  <p class="main_cardscroll_price_q">쿠폰 적용 예상가</p>
                  <p class="main_cardscroll_price_a">234,000원</p>
                </div>
                <div class="main_cardscroll_point">
                  <p class="main_cardscroll_point_q">적립 예정 포인트</p>
                  <p class="main_cardscroll_point_a">234P</p>
                </div>
              </div>
            </div>
            <div class="main_cardscroll_mark">
              <img
                class="main_cardscroll_mark_star"
                src="../../../../public/assets/icon/icon-star.svg fill.svg"
                alt="" />
              <p class="main_cardscroll_review">4.8</p>
            </div>
          </div>
        </div>
        <!-- cardcompo_8 -->
        <div class="main_cardscroll_cardcompo_8">
          <div class="main_cardscroll_cardcompo_ele">
            <div class="main_cardscroll_topic">
              <img
                class="main_cardscroll_img"
                src="../../../../public/assets/img/main/cardcompo8.webp"
                alt="갤럭시 S25 phone" />
              <div class="main_cardscroll_text">
                <p class="main_cardscroll_name">갤럭시 워치7 40mm (블루투스)</p>
                <div class="main_cardscroll_price">
                  <p class="main_cardscroll_price_q">쿠폰 적용 예상가</p>
                  <p class="main_cardscroll_price_a">234,000원</p>
                </div>
                <div class="main_cardscroll_point">
                  <p class="main_cardscroll_point_q">적립 예정 포인트</p>
                  <p class="main_cardscroll_point_a">234P</p>
                </div>
              </div>
            </div>
            <div class="main_cardscroll_mark">
              <img
                class="main_cardscroll_mark_star"
                src="../../../../public/assets/icon/icon-star.svg fill.svg"
                alt="" />
              <p class="main_cardscroll_review">4.8</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
