<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main_cardpro_component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1>cardpro 컴포넌트</h1>
    <section class="main_cardpro">
      <!-- 모바일 & PC -->
      <div class="main_cardpro_pc_wrapper_mobile">
        <div class="main_cardpro_txt">
          <div class="main_cardpro_text_up">
            <p class="main_cardpro_starttext">모바일 & PC</p>
            <nav class="main_cardpro_navtext_list">
              <span class="main_cardpro_navtext">Galaxy S25 &#124; S25+</span>
              <span class="main_cardpro_navtext">Galaxy Tab S10 Series</span>
              <span class="main_cardpro_navtext">Galaxy Z Fold6</span>
              <span class="main_cardpro_navtext">갤럭시 아카데미 페스타</span>
              <span class="main_cardpro_navtext">Galaxy Watch Ultra</span>
              <span class="main_cardpro_navtext">갤럭시 캠퍼스</span>
            </nav>
          </div>
          <div class="main_cardpro_text_under">
            <p class="main_cardpro_primetext">Galaxy S25 &#124; S25+ 런칭</p>
            <p class="main_cardpro_subtext">
              New 갤럭시 AI 구독클럽 51% SAVE 효과
            </p>
            <a class="main_cardpro_btn_black" href="#">
              <span class="main_cardpro_btn_text_black">구매 혜택 보기</span>
            </a>
          </div>
        </div>
      </div>
      <!-- TV/영상,음향 -->
      <div class="main_cardpro_pc_wrapper_white">
        <div class="main_cardpro_txt_white">
          <div class="main_cardpro_text_up">
            <p class="main_cardpro_starttext">TV/영상 &#183; 음향</p>
            <nav class="main_cardpro_navtext_list">
              <span class="main_cardpro_navtext">Neo QLED 8K</span>
              <span class="main_cardpro_navtext">삼성 OLED</span>
              <span class="main_cardpro_navtext">Galaxy Z Fold6</span>
              <span class="main_cardpro_navtext">갤럭시 아카데미 페스타</span>
              <span class="main_cardpro_navtext">Galaxy Watch Ultra</span>
              <span class="main_cardpro_navtext">갤럭시 캠퍼스</span>
            </nav>
          </div>
          <div class="main_cardpro_text_under">
            <p class="main_cardpro_primetext">Neo QLED 8K</p>
            <p class="main_cardpro_subtext">
              2세대 AI 8K 프로세서가 선사하는 궁극의 시청 경험을<br />TV 구매
              혜택과 함께 만나보세요
            </p>
            <a class="main_cardpro_btn_white" href="#">
              <span class="main_cardpro_btn_text_white">구매 혜택 보기</span>
            </a>
          </div>
        </div>
      </div>
      <!-- 가전 -->
      <div class="main_cardpro_pc_wrapper_bespoke">
        <div class="main_cardpro_txt">
          <div class="main_cardpro_text_up">
            <p class="main_cardpro_starttext">가전</p>
            <nav class="main_cardpro_navtext_list">
              <span class="main_cardpro_navtext"
                >BESPOKE AI 무풍콤보 갤러리</span
              >
              <span class="main_cardpro_navtext">BESPOKE 주방가전</span>
              <span class="main_cardpro_navtext">BESPOKE AI 하이브리드</span>
              <span class="main_cardpro_navtext">BESPOKE 의류케어</span>
              <span class="main_cardpro_navtext">BESPOKE 청소기</span>
              <span class="main_cardpro_navtext">BESPOKE 공기청정기/필터</span>
            </nav>
          </div>
          <div class="main_cardpro_text_under">
            <p class="main_cardpro_primetext">
              BESPOKE AI 무풍콤보<br />갤러리 런칭
            </p>

            <p class="main_cardpro_subtext">
              신제품 런칭 기간 한정 최대 35% 할인!<br />더욱 쾌적해진 무풍콤보를
              만나보세요
            </p>
            <a class="main_cardpro_btn_black" href="#">
              <span class="main_cardpro_btn_text_black">구매 혜택 보기</span>
            </a>
          </div>
        </div>
        <img
          class="main_cardpro_pc"
          src="../../../../public/assets/img/main/가전.webp"
          alt="S25+ 런칭" />
      </div>
      <!-- 스토리 -->
      <figure class="main_cardpro_story_wrapper">
        <div class="main_story_txt_up">
          <p class="main_story_firsttxt">스토리</p>
          <p class="main_story_secondtxt">#DoWhatYouCant</p>
        </div>
        <img
          class="main_cardpro_story"
          src="../../../../public/assets/img/main/story.webp"
          alt="" />
        <a class="main_story_thirdtxt" href="#"
          >더 알아보기
          <hr
        /></a>
      </figure>
    </section>

    <!-- main_cardpro_pc -->
    <section class="main_cardpro_pc">
      <!-- 모바일 & PC -->
      <div class="main_cardpro_wrapper_large">
        <div class="main_cardpro_txt_large">
          <div class="main_cardpro_text_up_large">
            <p class="main_cardpro_starttext_large">모바일 & PC</p>
            <nav class="main_cardpro_navtext_list_large">
              <p class="main_cardpro_navtext_large">Galaxy S25 &#124; S25+</p>
              <p class="main_cardpro_navtext_large">Galaxy Tab S10 Series</p>
              <p class="main_cardpro_navtext_large">Galaxy Z Fold6</p>
              <p class="main_cardpro_navtext_large">갤럭시 아카데미 페스타</p>
              <p class="main_cardpro_navtext_large">Galaxy Watch Ultra</p>
              <p class="main_cardpro_navtext_large">갤럭시 캠퍼스</p>
            </nav>
          </div>
          <div class="main_cardpro_text_under_large">
            <p class="main_cardpro_primetext_large">
              Galaxy S25 &#124; S25+ 런칭
            </p>
            <p class="main_cardpro_subtext_large">
              New 갤럭시 AI 구독클럽 51% SAVE 효과
            </p>
            <a class="main_cardpro_btn_black" href="#">
              <span class="main_cardpro_btn_text_black">구매 혜택 보기</span>
            </a>
          </div>
        </div>
      </div>
      <!-- TV/영상,음향 -->
      <div class="main_cardpro_wrapper_large_white">
        <div class="main_cardpro_txt_large_white">
          <div class="main_cardpro_text_up_large_white">
            <p class="main_cardpro_starttext_large_white">TV/영상&#183;음향</p>
            <nav class="main_cardpro_navtext_list_large_white">
              <p class="main_cardpro_navtext_large">Neo QLED 8K</p>
              <p class="main_cardpro_navtext_large">삼성 OLED</p>
              <p class="main_cardpro_navtext_large">The Frame</p>
              <p class="main_cardpro_navtext_large">삼성 모니터</p>
              <p class="main_cardpro_navtext_large">Q시리즈 사운드바</p>
            </nav>
          </div>
          <div class="main_cardpro_text_under_large_white">
            <p class="main_cardpro_primetext_large">Neo QLED 8K</p>
            <p class="main_cardpro_subtext_large">
              New 갤럭시 AI 구독클럽 51% SAVE 효과
            </p>
            <a class="main_cardpro_btn_white" href="#">
              <span class="main_cardpro_btn_text_white">구매 혜택 보기</span>
            </a>
          </div>
        </div>
      </div>
      <!-- 가전 -->
      <div class="main_cardpro_wrapper_large_BE">
        <div class="main_cardpro_txt_large">
          <div class="main_cardpro_text_up_large">
            <p class="main_cardpro_starttext_large">가전</p>
            <nav class="main_cardpro_navtext_list_large">
              <p class="main_cardpro_navtext_large">
                BESPOKE AI 무풍콤보 갤러리
              </p>
              <p class="main_cardpro_navtext_large">BESPOKE 주방가전</p>
              <p class="main_cardpro_navtext_large">BESPOKE AI 하이브리드</p>
              <p class="main_cardpro_navtext_large">BESPOKE의류케어</p>
              <p class="main_cardpro_navtext_large">BESPOKE 청소기</p>
              <p class="main_cardpro_navtext_large">BESPOKE 공기청정기/필터</p>
            </nav>
          </div>
          <div class="main_cardpro_text_under_large">
            <p class="main_cardpro_primetext_large2">
              온도부터 습도까지 무풍무패
            </p>
            <p class="main_cardpro_primetext_large">
              BESPOKE AI 무풍콤보 갤러리 런칭
            </p>
            <p class="main_cardpro_subtext_large">
              신제품 런칭 기간 한정 최대 35% 할인!
            </p>
            <p class="main_cardpro_subtext_large2">
              더욱 쾌적해진 무풍콤보를 만나보세요
            </p>
            <a class="main_cardpro_btn_black" href="#">
              <span class="main_cardpro_btn_text_black">구매 혜택 보기</span>
            </a>
          </div>
        </div>
      </div>
      <!-- 스토리 -->
      <div class="main_cardpro_wrapper_story_large">
        <div class="cardpro_story_text">
          <div class="cardpro_story_text_up">
            <p class="main_large_story_up_1">스토리</p>
            <p class="main_large_story_up_2">#DoWhatYouCant</p>
          </div>
          <img
            class="main_cardpro_story_large"
            src="../../../../public/assets/img/main/story.webp"
            alt="" />
          <div class="cardpro_story_text_under">
            <p class="main_large_story_under_1">
              #당신 하루를 더 편리하게 완성하는 AI
            </p>
            <p class="main_large_story_under_2">
              #보다 나은 내가 되기 위한 방법
            </p>
            <p class="main_large_story_under_3">
              #내가 삶의 주인이 되는 세상에 없던 AI 라이프
            </p>
            <p class="main_large_story_under_4">
              #뛰어난 디자인과 기술로 모두를 사로잡은 <br />삼성의 수상 제품을
              만나보세요
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
