<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main_banner</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1>
      <div class="main_banner_mobile_container">
        <div class="main_banner_mobile">
          <div class="main_banner_mobile_list">
            <div class="main_banner_mobile_wrapper">
              <img
                class="main_banner_mobile_item"
                src="../../../../public/assets/img/main/banner1.png"
                alt="모니터 4개로 구성된 광고" />
            </div>
            <div class="main_banner_mobile_wrapper">
              <img
                class="main_banner_mobile_item"
                src="../../../../public/assets/img/main/banner2.jpg"
                alt="세탁기 광고" />
            </div>
            <div class="main_banner_mobile_wrapper">
              <img
                class="main_banner_mobile_item"
                src="../../../../public/assets/img/main/banner3.jpg"
                alt="냉장고 광고" />
            </div>
            <div class="main_banner_mobile_wrapper">
              <img
                class="main_banner_mobile_item"
                src="../../../../public/assets/img/main/banner4.jpg"
                alt="청소기 광고" />
            </div>
            <div class="main_banner_mobile_wrapper">
              <img
                class="main_banner_mobile_item"
                src="../../../../public/assets/img/main/banner5.jpg"
                alt="모니터 광고" />
            </div>
            <div class="main_banner_mobile_wrapper">
              <img
                class="main_banner_mobile_item"
                src="../../../../public/assets/img/main/banner6.jpg"
                alt="이어폰" />
            </div>
          </div>
        </div>
        <div class="main_banner_mobile_button">
          <button class="main_banner_mobile_button_left main_banner_button">
            &lt;
          </button>
          <button class="main_banner_mobile_button_right main_banner_button">
            &gt;
          </button>
        </div>
      </div>
    </h1>
  </body>
</html>
