.pay_banner {
  width: 100vw;
}

.pay_page_main {
  padding: 0 15px;
}

.pay_sub_title {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.sale_coupon_code {
  margin-top: 30px;
  font-weight: bold;
}

.pay_product_bottom {
  margin-top: 30px;
}

.pay_coupon_code_wrap {
  margin-top: 20px;
}

.pay_point_title {
  border-block-end: 1px solid #f0f0f0;
  padding: 30px 0 10px 0;
}

.pay_tip_add {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  gap: 5px;
  margin-block-start: 20px;
}

.pay_point_exchange_box {
  display: flex;
  flex-flow: column;
  gap: 15px;
  background: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;

  .pay_point_exchange_tit {
    font-size: 14px;
  }

  .pay_point_exchange_txt {
    font-size: 12px;
    color: #707070;
  }
}

.pay_pay_title {
  border-block-end: 1px solid #f0f0f0;
  padding: 30px 0 10px 0;
}
