<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="main_header">
      <img
        class="main_logo_img"
        src="../../../public/assets/img/logo.svg"
        alt="logo이미지" />

      <div class="main_icon_wrapper">
        <button
          class="main_button main_search_button"
          type="button"
          onclick="location.href='../../page/search_page/search_page.html' ">
          <img
            class="main_icon main_search_icon"
            src="../../../public/assets/icon/icon_search.svg"
            alt="search 아이콘" />
        </button>

        <button
          class="main_button main_frame_button"
          type="button"
          onclick="location.href='../../page/frame_page/frame_page.html' ">
          <img
            class="main_icon main_frame_icon"
            src="../../../public/assets/icon/icon_frame.svg"
            alt="장바구니 아이콘" />
        </button>

        <button
          class="main_button main_profile_button"
          type="button"
          onclick="location.href= '../../page/mypage_page/mypage.html' ">
          <img
            class="main_icon main_profile_icon"
            src="../../../public/assets/icon/icon_profile.png"
            alt="프로필 아이콘" />
        </button>

        <img
          class="main_icon main_menu_icon"
          src="../../../public/assets/icon/icon_menu.svg"
          alt="메뉴 아이콘" />
      
      </div>
    </div>
  </body>
</html>
