@import "../../common/modern-reset.css";
  
.main_header {
  display: flex;
  margin-inline: 16px;
  height: 62.656px;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  border: 1px solid blue;

  .main_logo_img {
    display: flex;
    padding: 19px 52px 19px 0;
    height: 57px;
    align-items: center;
  }

  .main_icon_wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    justify-content: center;
    align-items: center;

    .main_icon {
      width: 24px;
      height: 24px;
    }

    .main_button {
      border: 0;
      background-color: transparent;
    }

    .main_menu_icon:hover{
      
    }
  }
}
