<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>products_nav_component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1>제품 nav바</h1>
    <div class="products_nav_container">
      <nav class="products_nav">
        <h3>모바일</h3>
      </nav>
      <img
        class="smartphone_banner"
        src="../../../public/assets/img/smartphone/img-galaxy smartphone_banner_x1.png" />
    </div>
    <nav class="products_nav">
      <h3>모바일</h3>
    </nav>
  </body>
</html>
