<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1>제품 검색</h1>
    <div class="search_bar_container">
      <h2 class="sr-only">제품 검색</h2>
      <nav class="search_bar_nav">
        <form class="search_form" action="#" method="post" role="search">
          <a href="/" class="search_move" tabindex="2">
            <img src="/public/assets/icon/search_search.svg" />
          </a>
          <input
            tabindex="1"
            class="search_input"
            type="search"
            placeholder="궁금한 제품을 찾아보세요." />
        </form>
      </nav>
    </div>
  </body>
</html>
