<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="search_product_container">
      <h1>검색 추천 목록</h1>
      <section class="search_product_component">
        <a href="/" class="search_product_link">
          <div class="search_product_box">
            <img
              class="search_product"
              src="../../../public/assets/img/search/fd94ecf7-0d98-495d-9a94-53836120fb8c.webp" />
          </div>
          <div class="search_product_article">
            <p class="search_product_name">
              BESPOKE AI 하이브리드 4도어 900L (에너지 1등급 최저기준 대비 -30%)
            </p>
            <span class="search_product_price_txt">혜택가</span>
            <strong>2,790,000원</strong>
          </div>
        </a>
      </section>
    </div>
  </body>
</html>
