@import "/src/common/modern-reset.css";
@import "/src/common/a11y.css";

.search_bar_container {
  padding: 30px;
}

.search_bar_nav {
  height: 5rem;
  border-bottom: 0.125rem solid #dddddd;
}

.search_form {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  .search_input {
    height: 2.9375rem;
    width: 73.75rem;
    font-size: 2rem;
    font-weight: bold;
    background: #fff;
    border: none;

    &:focus {
      border: 0.125rem dotted black;
    }
    &::placeholder {
      color: #dddddd;
    }
  }

  .search_move {
    &:focus {
      border: 0.125rem dotted black;
    }
  }
}
