<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>search_menu_component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1>검색 메뉴</h1>
    <div class="navbar_menu_container">
      <nav class="search_menu_nav">
        <strong class="search_view_title">인기검색어</strong>
        <ul class="search_view_txt">
          <li class="search_view_li">
            <a class="search_view_a" href="/">갤럭시 S25</a>
          </li>
          <li class="search_view_li">
            <a class="search_view_a" href="/">버즈</a>
          </li>
          <li class="search_view_li">
            <a class="search_view_a" href="/">버즈3</a>
          </li>
          <li class="search_view_li">
            <a class="search_view_a" href="/">갤럭시 탭</a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
