<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login_qr</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="login_qr_container">
      <button class="login_qr_base">
        <div class="login_qr_box">
          <div class="login_qr_imgbox">
            <img
              class="login_qr_img"
              src="../../../public/assets/img/qr.svg"
              alt="" />
          </div>
          <div class="login_qr_textbox">
            <div class="login_qr_text">QR 코드로 로그인</div>
          </div>
        </div>
      </button>
    </div>
  </body>
</html>
