<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login_google</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="login_google_container">
      <button class="login_google_base">
        <div class="login_google_totalbox">
          <div class="login_google_imgbox">
            <img src="../../../public/assets/img/google.svg" alt="" />
          </div>
          <div class="login_goole_textbox">
            <div class="login_google_text">Google 계정으로 로그인</div>
          </div>
        </div>
      </button>
    </div>
  </body>
</html>
