<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login_checkbox_component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <body>
      <label class="login_checkbox_custom">
          <input class="login_checkbox_type" type="checkbox" id="rememberId">
          <span class="login_checkbox_checkmark"></span>
          ID 기억하기
      </label>
  </body>
</html>
