<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login_google</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="login_google_container">
      <button class="login_base google">
        <img src="/public/assets/img/login/google.svg" alt="google" />
        <span class="login_google_text">Google 계정으로 로그인</span>
      </button>
    </div>
    <div class="login_google_container">
      <button class="login_base qr">
        <img
          class="login_qr_img"
          src="/public/assets/img/login/qr.svg"
          alt="" />
        <span class="login_google_text">QR 코드로 로그인</span>
      </button>
    </div>
  </body>
</html>
