@import "../../common/modern-reset.css";

.login_email_container {
  margin-top: 1.25rem;
  justify-self: center;
  position: relative;
  width: 28.5rem;
}

.login_email_type {
  width: 100%;
  padding: 0.625rem;
  border: none;
  border-bottom: 0.125rem solid gray;
  font-size: 1rem;
  outline: none;
}

.login_email_address {
  position: absolute;
  left: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.125rem;
  color: gray;
  transition: 0.3s;
  pointer-events: none;
}

.login_email_type:focus + .login_email_address,
.login_email_type:not(:placeholder-shown) + .login_email_address {
  top: 0;
  font-size: 0.68rem;
  color: #0381fe;
}

.login_email_container .login_email_type:focus {
  border-bottom: 0.125rem solid #0381fe;
}

.login_error {
  display: none;
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.login_error.active {
  display: block;
}
