<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <title>putchase_color_component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="putchase_flagship_pd">
      <div class="putchase_pd_info">
        <div class="putchase_info_option putchase_color_option">
          <!-- 큰 타이틀: "색상" -->
          <h3 class="putchase_info_tit">색상</h3>

          <!-- 삼성닷컴 | 삼성강남 전용 컬러 (네모 박스) -->
          <div class="putchase_option_box putchase_samsung putchase_color">
            <h4 class="putchase_option_title">삼성닷컴 | 삼성강남 전용 컬러</h4>
            <ul>
              <!-- 티타늄 제트블랙 (네모 박스 + 이미지) -->
              <li>
                <input type="radio" id="jetblack" name="colorOption" />
                <label for="jetblack" class="putchase_color_rect">
                  <img
                    src="../../../public/assets/img/putchase/003b8b04-8e50-479e-af9f-dc7951d3c27d.webp"
                    alt="티타늄 제트블랙" />
                </label>
                <p class="putchase_color_name">티타늄 제트블랙</p>
              </li>
              <!-- 티타늄 제이드그린 -->
              <li>
                <input type="radio" id="jadegreen" name="colorOption" />
                <label for="jadegreen" class="putchase_color_rect">
                  <img
                    src="../../../public/assets/img/putchase/4ffbbc0e-5d8c-415b-b114-bb26d04ef136.webp"
                    alt="티타늄 제이드그린" />
                </label>
                <p class="putchase_color_name">티타늄 제이드그린</p>
              </li>
              <!-- 티타늄 핑크골드 -->
              <li>
                <input type="radio" id="pinkgold" name="colorOption" />
                <label for="pinkgold" class="putchase_color_rect">
                  <img
                    src="../../../public/assets/img/putchase/8169d81c-3daf-4131-ab65-b2dd3161adca.webp"
                    alt="티타늄 핑크골드" />
                </label>
                <p class="putchase_color_name">티타늄 핑크골드</p>
              </li>
            </ul>
          </div>

          <!-- 가로 구분선 -->
          <hr />

          <!-- 일반 컬러 (원형) -->
          <div class="putchase_option_box putchase_normal putchase_color">
            <h4 class="putchase_option_title">일반</h4>
            <ul>
              <!-- 티타늄 실버블루 -->
              <li>
                <input type="radio" id="silverblue" name="colorOption" />
                <label
                  for="silverblue"
                  class="putchase_color_circle"
                  style="background-color: #8e9fbc"></label>
                <p class="putchase_color_name">티타늄 실버블루</p>
              </li>
              <!-- 티타늄 그레이 -->
              <li>
                <input type="radio" id="gray" name="colorOption" />
                <label
                  for="gray"
                  class="putchase_color_circle"
                  style="background-color: #4a4a4d"></label>
                <p class="putchase_color_name">티타늄 그레이</p>
              </li>
              <!-- 티타늄 블랙 -->
              <li>
                <input type="radio" id="black" name="colorOption" />
                <label
                  for="black"
                  class="putchase_color_circle"
                  style="background-color: #b3ab9e"></label>
                <p class="putchase_color_name">티타늄 블랙</p>
              </li>
              <!-- 티타늄 화이트실버 -->
              <li>
                <input type="radio" id="whitesilver" name="colorOption" />
                <label
                  for="whitesilver"
                  class="putchase_color_circle"
                  style="background-color: #d9d9d6"></label>
                <p class="putchase_color_name">티타늄 화이트실버</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
