<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>구매방식</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- 구매방식 타이틀 -->
    <h3 class="putchase_info_tit">구매방식</h3>

    <div class="putchase_method_container">
      <!-- 첫 번째 옵션 -->
      <label class="putchase_method_item">
        <input type="radio" name="purchaseMethod" value="자급제" checked />
        <div class="putchase_method_content">
          <span class="putchase_method_text"
            >새 기기만 사서 자유롭게 쓸래요</span
          >
          <span class="putchase_method_sub">자급제</span>
        </div>
      </label>

      <!-- 두 번째 옵션 -->
      <label class="putchase_method_item">
        <input type="radio" name="purchaseMethod" value="통신사" />
        <div class="putchase_method_content">
          <span class="putchase_method_text">내 통신사 혜택받고 쓸래요</span>
          <span class="putchase_method_sub">통신사폰</span>
        </div>
      </label>
    </div>
  </body>
</html>
