<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <title>putchase_memory_component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- 메모리 타이틀 -->
    <h3 class="putchase_info_tit">메모리</h3>

    <div class="putchase_memory_container">
      <label class="putchase_memory_item">
        <input type="radio" name="memoryOption" value="12GB" checked />
        <div class="putchase_memory_box">12GB</div>
      </label>
    </div>
  </body>
</html>
