<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <title>모델</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- 모델 타이틀 -->
    <h3 class="putchase_info_tit">모델</h3>

    <div class="putchase_model_container">
      <!-- Galaxy S25 Ultra (클릭 가능) -->
      <label class="putchase_model_item">
        <input
          type="radio"
          name="modelOption"
          value="Galaxy S25 Ultra"
          checked />
        <div class="putchase_model_content">Galaxy S25 Ultra</div>
      </label>

      <!-- Galaxy AI✈ (이미지 + 텍스트, 단순 정보) -->
      <div class="putchase_model_ai">
        <img
          src="/public/assets/img/putchase/9d8db568-bdb6-4f30-9f72-b95a1c41014c.webp"
          alt="Galaxy AI 로고"
          class="putchase_ai_logo" />
      </div>
    </div>
  </body>
</html>
