<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>배너</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="putchase_banner_container">
      <!-- 메인 배너 이미지 -->
      <img
        src="/public/assets/img/putchase/b7813a9b-221c-4102-9c26-d2e0baf207c2.avif"
        alt="Galaxy S25 Ultra 배너 이미지"
        class="putchase_banner_image" />
    </div>
  </body>
</html>
